.paragraph {
    font-size: 15px;
    max-width: 1280px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    line-height: 1;

    .word {
        margin-right: 12px;
        margin-top: 12px;
    }

    @media (min-width: 1232px) {
        font-size: 20px;
        padding: 40px;
    }
}