.aboutus {
    margin-top: 0px;
    padding-left: 10px;
    background-color: black;
    color: #fff;

    &__inner {
        height: 646*2px;
        margin: 0 auto;
        position: relative;

        @media (min-width: 1232px) {
            height: 646*1.5px;
        }
    }
}

.main {
    margin-top: 0px;
    background-image: url("../../../../public/images/lastback.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10px;

    @media (min-width: 1232px) {
        img {
            margin-left: 200px;
        }
    }

    &__inner {
        height: 500px;
        margin: 0 auto;
        position: relative;

        &__title {
            width: 350px;
            height: auto;
        }

        &__subtitle {
            margin-left: 10px;
        }

        @media (min-width: 1024px) {
            &__title {
                width: 600px;
                height: auto;
            }
        }

    }

    .menu {
        grid-area: menu;
        height: 560px;
        background: #fff;
        border-radius: 10px;
        box-shadow: $shadow-1;
    }

    .header {
        grid-area: header;
        height: 40px;
        background: #fff;
        border-radius: 10px;
        box-shadow: $shadow-1;
    }

    .swiper {
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        grid-area: swiper;
        height: 300px;
        background: #fff;
        border-radius: 10px;
        box-shadow: $shadow-1;
    }

    .offers {
        grid-area: offers;
        background: #fff;
        height: 200px;
        border-radius: 10px;
        box-shadow: $shadow-1;
    }

    .user {
        grid-area: user;
        height: 510px;
        background: #fff;
        border-radius: 10px;
        box-shadow: $shadow-1;
    }
}